<div class="container no-padding">
    <div class="content">
        <address>
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br />
            <a href="tel:{{ contact.telephone }}">{{ contact.telephone }}</a>
        </address>

        <nav>
            <ul class="social-menu">
                {% if contact.linkedin %}
                <li><a href="{{ contact.linkedin }}">LinkedIn</a></li>
                {% endif %}
                {% if contact.instagram %}
                <li><a href="{{ contact.instagram }}">Instagram</a></li>
                {% endif %}
                {% if contact.facebook %}
                <li><a href="{{ contact.facebook }}">Facebook</a></li>
                {% endif %}
                {% if contact.twitter %}
                <li><a href="{{ contact.twitter }}">Twitter</a></li>
                {% endif %}
                {% if contact.google %}
                <li><a href="{{ contact.google }}">Google +</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
