{% extends '_layout' %}

{% block header %}
<section class="banner">
    {% set bannerImgs = entry.bannerImages.all() %}
    <div class="bg-images">
        {% for img in bannerImgs %}
        <img src="{{img.getUrl()}}" />
        {% endfor %}
    </div>
    {% set img = entry.photo.one() %}
    {% if img %}
    <div class="photo-wrapper">
        <img src="{{img.getUrl()}}" />
    </div>
    {% endif %}
</section>
{% endblock header %}

{% block body %}
<section class="container">
    <div class="content columns">
        <div class="main-content">
            {{ entry.mainContent }}
        </div>
        <div class="feature-content">
            <ul class="feature-list">
                {% set features = entry.featureBoxes.all() %}
                {% for feature in features %}
                <li>
                    <h2>{{ feature.featureTitle }}</h2>
                    {{ feature.text }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="container">
    <div class="content">
        <h1>Projects</h1>
        <div class="columns projects">
            {% set projects = entry.projects.all() %}
            {% for project in projects %}
            <article>
                {% set featureImage = project.screenshots.one() %}
                {% if featureImage %}
                <img src="{{featureImage.getUrl()}}" />
                {% endif %}
                <div class="project-description">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.summary }}</p>
                    <a href="{{project.getUrl()}}">More Info</a>
                </div>
            </article>
            {% endfor %}
        </div>

        <div class="project-text columns">
            <div>
                {{ entry.projectText }}
            </div>
            <a class="cta" href="/projects">More Projects</a>
        </div>
    </div>
</section>
{% endblock %}
