{% extends '_layout' %}

{% block header %}
<section class="banner">
    {% set bannerImgs = entry.bannerImages.all() %}
    <div class="bg-images">
        {% for img in bannerImgs %}
        <img src="{{img.getUrl()}}" />
        {% endfor %}
    </div>
    {% set img = entry.photo.one() %}
    {% if img %}
    <img src="{{img.getUrl()}}" />
    {% endif %}
</section>
{% endblock header %}

{% block body %}
<section class="container">
    <div class="content two-columns">
        <div class="main-content">
            {{ entry.mainContent }}
        </div>
        <div class="feature-content">
            <ul class="feature-list">
                {% set features = entry.featureBoxes.all() %}
                {% for feature in features %}
                <li>
                    <h2>{{ feature.featureTitle }}</h2>
                    {{ feature.text }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
